{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript">
        window.onload = function(){
            var termo = document.getElementById('search-input');
            termo.value = "{{ busca }}";
            var anos = "{{ anos }}";
            var fabricantes = "{{ fabricantes }}";
            var modelos = "{{ modelos }}";

            if(anos != "") {
                var array_anos = anos.split(",");
                var opcoes_anos = $('#ano option');
                for (var i=0; i<opcoes_anos.length; i++) {
                    var opt = opcoes_anos[i];
                    if ( array_anos.indexOf( opt.text || opt.value ) != -1 )
                    {
                        opt.selected = true;
                    }
                }
            }
            if(fabricantes != "") {
                var array_fabricantes = fabricantes.split(",");
                var opcoes_fabricantes = $('#fabricante option');
                for (var i=0; i<opcoes_fabricantes.length; i++) {
                    var opt = opcoes_fabricantes[i];
                    if ( array_fabricantes.indexOf( opt.text || opt.value ) != -1 )
                    {
                        opt.selected = true;
                    }
                }
            }
            if(modelos != "") {
                var array_modelos = modelos.split(",");
                var opcoes_modelos = $('#modelo option');
                for (var i=0; i<opcoes_modelos.length; i++) {
                    var opt = opcoes_modelos[i];
                    if ( array_modelos.indexOf( opt.text || opt.value ) != -1 )
                    {
                        opt.selected = true;
                    }
                }
            }
        }

        function search(){
            var termo = document.getElementById('search-input').value;
            if(termo != ""){
                var form = document.createElement("form");
                form.setAttribute("id", 'search-form');
                form.setAttribute("method", 'POST');
                form.setAttribute("action", '/');

                var busca = document.createElement("input");
                busca.value = termo;
                busca.name = 'busca';
                busca.id = 'campo-busca';
                form.appendChild(busca);
                document.body.appendChild(form);
                form.submit();
            }
        }

        function remove_filtro() {
            window.location.href = '/';
        }

        function aplica_filtro() {
            var anos_selecionados = new Array();
            var fabricantes_selecionados = new Array();
            var modelos_selecionados = new Array();
            var termo = document.getElementById('search-input').value;

            var opcoes_anos = $('#ano option');
            for (var i=0; i<opcoes_anos.length; i++) {
                opt = opcoes_anos[i];
                if (opt.selected) {
                  anos_selecionados.push(opt.value || opt.text);
                }
            }

            var opcoes_fabricantes = $('#fabricante option');
            for (var i=0; i<opcoes_fabricantes.length; i++) {
                opt = opcoes_fabricantes[i];
                if (opt.selected) {
                  fabricantes_selecionados.push(opt.value || opt.text);
                }
            }

            var opcoes_modelos = $('#modelo option');
            for (var i=0; i<opcoes_modelos.length; i++) {
                opt = opcoes_modelos[i];
                if (opt.selected) {
                  modelos_selecionados.push(opt.value || opt.text);
                }
            }

            if(termo != "" ||
               anos_selecionados.toString() != "" ||
               fabricantes_selecionados.toString() != "" ||
               modelos_selecionados.toString() != "") {

                var form = document.createElement("form");
                form.setAttribute("id", 'filters-form');
                form.setAttribute("method", 'POST');
                form.setAttribute("action", '/');

                var busca = document.createElement("input");
                busca.value = termo;
                busca.name = 'busca';
                busca.id = 'campo-busca';

                var filtro_ano = document.createElement("input");
                filtro_ano.name = 'filtro_ano';
                filtro_ano.id = 'filtro_ano';
                filtro_ano.value = anos_selecionados.toString();

                var filtro_fabricante = document.createElement("input");
                filtro_fabricante.name = 'filtro_fabricante';
                filtro_fabricante.id = 'filtro_fabricante';
                filtro_fabricante.value = fabricantes_selecionados.toString();

                var filtro_modelo = document.createElement("input");
                filtro_modelo.name = 'filtro_modelo';
                filtro_modelo.id = 'filtro_modelo';
                filtro_modelo.value = modelos_selecionados.toString();

                form.appendChild(busca);
                form.appendChild(filtro_ano);
                form.appendChild(filtro_fabricante);
                form.appendChild(filtro_modelo);
                document.body.appendChild(form);
                form.submit();
            }

        }

    </script>
{% endblock %}
{% block body_content %}
    <div id="index-page">
        <div id="navbar">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    {% if user and user.is_authenticated() %}
                        <p class="navbar-text">
                            <a href="/admin/" class="navbar-link">
                                <span class="glyphicon glyphicon-cog"> </span>
                                Admin
                            </a>
                        </p>
                        <p class="navbar-text navbar-right"><a href="{{ url_for('view_logout') }}">Logout</a>
                        </p>
                        <p class="navbar-text navbar-right">Logado como <b>{{ user.email }} </b>
                            <span class="glyphicon glyphicon-user"></span>
                        </p>

                    {% else %}
                        <p class="navbar-text navbar-right"><a href="{{ url_for('view_login') }}"> Login </a></p>
                    {% endif %}
                    <div class="input-group" id="search-bar">
                        <input type="text" class="form-control" id="search-input">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <button type="button" class="btn btn-default btn-sm" id="remove-filtro" onclick="remove_filtro()">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span id="texto-filtro"> Remove Filtro </span>
                    </button>
                </div>
            </nav>
        </div>
        <div id="filters">
            <h4 id="filters-title"> Filtros </h4>
            <div id="filters-content">
                <div class="row">
                    <div class="col-md-3">
                        {{ render_field_wc(filtros.ano) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field_wc(filtros.fabricante) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field_wc(filtros.modelo) }}
                    </div>
                    <div class="col-md-3" id="filtrar">
                        <button type="button" class="btn btn-default btn-md" id="aplica-filtro" onclick="aplica_filtro()">
                        <span class="glyphicon glyphicon-filter"></span>
                        <span id="texto-filtrar"> Filtrar </span>
                    </button>
                    </div>
                </div>
            </div>
            <p id="obs">Dica: Para usar os filtros, selecione as opções segurando o
                botão Control (Ctrl) ou Command (Cmd) de seu teclado. Em seguida, clique em <b>Filtrar</b>. </p>
        </div>
        <div id="index-content">
            <div class="row">
            {% if automoveis|length > 0 %}
                {% for a in automoveis %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img class="img-thumb" src='/images/{{ a.pk }}'>
                            <div class="caption">
                                <h4> {{ a.modelo }}</h4>
                                <p> Fabricante: {{ a.fabricante.nome }}</p>
                                <p> Ano: {{ a.ano }}</p>
                            </div>
                        </div>
                   </div>
                {% endfor %}
            {% else %}
                <h3 id="no-results"> Não há registros no banco de dados.</h3>
                <h4 id="results-tip"> Se estiver utilizando um filtro, remova-o e tente uma nova filtragem.</h4>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}